@model BigGuyWithBeard.MigraneTracker.MVC.Models.Observation

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Observation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CreatedOn" class="control-label"></label>
                <input asp-for="CreatedOn" class="form-control" />
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NauseaScore" class="control-label"></label>
                <input asp-for="NauseaScore" class="form-control" />
                <span asp-validation-for="NauseaScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DizzynessScore" class="control-label"></label>
                <input asp-for="DizzynessScore" class="form-control" />
                <span asp-validation-for="DizzynessScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LightSensitivityScore" class="control-label"></label>
                <input asp-for="LightSensitivityScore" class="form-control" />
                <span asp-validation-for="LightSensitivityScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeadPainScore" class="control-label"></label>
                <input asp-for="HeadPainScore" class="form-control" />
                <span asp-validation-for="HeadPainScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NeckPainScore" class="control-label"></label>
                <input asp-for="NeckPainScore" class="form-control" />
                <span asp-validation-for="NeckPainScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TirednessScore" class="control-label"></label>
                <input asp-for="TirednessScore" class="form-control" />
                <span asp-validation-for="TirednessScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FunctionScore" class="control-label"></label>
                <input asp-for="FunctionScore" class="form-control" />
                <span asp-validation-for="FunctionScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medication" class="control-label"></label>
                <input asp-for="Medication" class="form-control" />
                <span asp-validation-for="Medication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
